In [1]:
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation

### **STEPS**

Dataframe about Coronavirus Group D

In [9]:
world = pd.read_csv("../../data/owid-covid-data.csv", sep = ",") #Si ponemos así la ruta, la podremos abrir de dónde sea :)
world
#src/main.py
#../GroupD_Covid19/notebooks/ariadna.py

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60689,ZWE,Africa,Zimbabwe,2021-01-13,24256.0,1017.0,921.714,589.0,38.0,22.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
60690,ZWE,Africa,Zimbabwe,2021-01-14,25368.0,1112.0,956.143,636.0,47.0,27.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
60691,ZWE,Africa,Zimbabwe,2021-01-15,26109.0,741.0,921.286,666.0,30.0,28.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
60692,ZWE,Africa,Zimbabwe,2021-01-16,26881.0,772.0,911.714,683.0,17.0,28.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
60693,ZWE,Africa,Zimbabwe,2021-01-17,27203.0,322.0,818.000,713.0,30.0,29.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535

In [20]:
#Aquí los NaNs de todo el df

world.isnull().sum()

iso_code                                   346
continent                                  708
location                                     0
date                                         0
total_cases                                585
new_cases                                  592
new_cases_smoothed                        1547
total_deaths                              9048
new_deaths                                9049
new_deaths_smoothed                       1547
total_cases_per_million                    931
new_cases_per_million                      938
new_cases_smoothed_per_million            1888
total_deaths_per_million                  9381
new_deaths_per_million                    9382
new_deaths_smoothed_per_million           1888
reproduction_rate                        11938
icu_patients                             54154
icu_patients_per_million                 54154
hosp_patients                            53103
hosp_patients_per_million                53103
weekly_icu_admissions                    60119
weekly_icu_admissions_per_million        60119
weekly_hosp_admissions                   59743
weekly_hosp_admissions_per_million       59743
new_tests                                32672
total_tests                              32853
total_tests_per_thousand                 32853
new_tests_per_thousand                   32672
new_tests_smoothed                       29207
new_tests_smoothed_per_thousand          29207
positive_rate                            30965
tests_per_case                           31440
tests_units                              28050
total_vaccinations                       60083
new_vaccinations                         60252
new_vaccinations_smoothed                59872
total_vaccinations_per_hundred           60083
new_vaccinations_smoothed_per_million    59872
stringency_index                          6777
population                                 346
population_density                        1622
median_age                                2949
aged_65_older                             3619
aged_70_older                             3276
gdp_per_capita                            2920
extreme_poverty                          21146
cardiovasc_death_rate                     2319
diabetes_prevalence                       1644
female_smokers                           14609
male_smokers                             15240
handwashing_facilities                   31473
hospital_beds_per_thousand                7063
life_expectancy                            656
human_development_index                   2662
dtype: int64

In [4]:
#df completo con las columnas que hemos aprovado con el criterio de menos NaNs para hacer las tendencias!!!

world = world.drop(world.columns.difference(["iso_code", "date", "total_cases", "new_cases", "total_deaths", "new_deaths", "new_cases_per_million", "total_deaths_per_million", "aged_65_older", "population", "population_density", "cardiovasc_death_rate", "hospital_beds_per_thousand"]), 1)
world

,iso_code,date,total_cases,new_cases,total_deaths,new_deaths,new_cases_per_million,total_deaths_per_million,population,population_density,aged_65_older,cardiovasc_death_rate,hospital_beds_per_thousand
0,AFG,2020-02-24,1.0,1.0,NaN,NaN,0.026,NaN,38928341.0,54.422,2.581,597.029,0.5
1,AFG,2020-02-25,1.0,0.0,NaN,NaN,0.000,NaN,38928341.0,54.422,2.581,597.029,0.5
2,AFG,2020-02-26,1.0,0.0,NaN,NaN,0.000,NaN,38928341.0,54.422,2.581,597.029,0.5
3,AFG,2020-02-27,1.0,0.0,NaN,NaN,0.000,NaN,38928341.0,54.422,2.581,597.029,0.5
4,AFG,2020-02-28,1.0,0.0,NaN,NaN,0.000,NaN,38928341.0,54.422,2.581,597.029,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60689,ZWE,2021-01-13,24256.0,1017.0,589.0,38.0,68.425,39.629,14862927.0,42.729,2.822,307.846,1.7
60690,ZWE,2021-01-14,25368.0,1112.0,636.0,47.0,74.817,42.791,14862927.0,42.729,2.822,307.846,1.7
60691,ZWE,2021-01-15,26109.0,741.0,666.0,30.0,49.856,44.809,14862927.0,42.729,2.822,307.846,1.7
60692,ZWE,2021-01-16,26881.0,772.0,683.0,17.0,51.941,45.953,14862927.0,42.729,2.822,307.846,1.7
60693,ZWE,2021-01-17,27203.0,322.0,713.0,30.0,21.665,47.972,14862927.0,42.729,2.822,307.846,1.7

**BY COUNTRY**

In [10]:
uk = world[world["iso_code"]=="GBR"]

uk = uk.drop(uk.columns.difference(["iso_code", "date", "total_cases", "total_deaths", "total_deaths_per_million"]), 1)
uk

,iso_code,date,total_cases,total_deaths,total_deaths_per_million
57046,GBR,2020-01-31,2.0,NaN,NaN
57047,GBR,2020-02-01,2.0,NaN,NaN
57048,GBR,2020-02-02,2.0,NaN,NaN
57049,GBR,2020-02-03,8.0,NaN,NaN
57050,GBR,2020-02-04,8.0,NaN,NaN
...,...,...,...,...,...
57394,GBR,2021-01-13,3220953.0,84910.0,1250.773
57395,GBR,2021-01-14,3269757.0,86163.0,1269.231
57396,GBR,2021-01-15,3325642.0,87448.0,1288.159
57397,GBR,2021-01-16,3367070.0,88747.0,1307.295
57398,GBR,2021-01-17,3405740.0,89429.0,1317.341

In [11]:
uk.isnull().sum()

iso_code                     0
date                         0
total_cases                  0
total_deaths                35
total_deaths_per_million    35
dtype: int64

In [12]:
port = world[world["iso_code"]=="PRT"]

port = port.drop(port.columns.difference(["iso_code","date",'total_cases',"total_deaths", 'total_deaths_per_million']), 1)
port

,iso_code,date,total_cases,total_deaths,total_deaths_per_million
43593,PRT,2020-02-02,NaN,NaN,NaN
43594,PRT,2020-02-09,NaN,NaN,NaN
43595,PRT,2020-02-15,NaN,NaN,NaN
43596,PRT,2020-02-23,NaN,NaN,NaN
43597,PRT,2020-03-01,NaN,NaN,NaN
...,...,...,...,...,...
43915,PRT,2021-01-13,507108.0,8236.0,807.712
43916,PRT,2021-01-14,517806.0,8384.0,822.226
43917,PRT,2021-01-15,528469.0,8543.0,837.820
43918,PRT,2021-01-16,539416.0,8709.0,854.099
43919,PRT,2021-01-17,549801.0,8861.0,869.006

In [13]:
port.isnull().sum()

iso_code                     0
date                         0
total_cases                  5
total_deaths                20
total_deaths_per_million    20
dtype: int64

In [14]:
turk = world[world["iso_code"]=="TUR"]

turk = turk.drop(turk.columns.difference(["iso_code","date",'total_cases',"total_deaths", 'total_deaths_per_million']), 1)
turk

,iso_code,date,total_cases,total_deaths,total_deaths_per_million
55753,TUR,2020-03-11,1.0,NaN,NaN
55754,TUR,2020-03-12,1.0,NaN,NaN
55755,TUR,2020-03-13,5.0,NaN,NaN
55756,TUR,2020-03-14,5.0,NaN,NaN
55757,TUR,2020-03-15,6.0,NaN,NaN
...,...,...,...,...,...
56062,TUR,2021-01-14,2364801.0,23495.0,278.578
56063,TUR,2021-01-15,2373115.0,23664.0,280.582
56064,TUR,2021-01-16,2380665.0,23832.0,282.574
56065,TUR,2021-01-17,2387101.0,23997.0,284.530
56066,TUR,2021-01-18,NaN,NaN,NaN

In [15]:
turk.isnull().sum()

iso_code                    0
date                        0
total_cases                 1
total_deaths                7
total_deaths_per_million    7
dtype: int64

In [16]:
esp = world[world["iso_code"]=="ESP"]

esp = esp.drop(esp.columns.difference(["iso_code","date",'total_cases',"total_deaths", 'total_deaths_per_million']), 1)
esp

,iso_code,date,total_cases,total_deaths,total_deaths_per_million
50838,ESP,2020-02-01,1.0,NaN,NaN
50839,ESP,2020-02-02,1.0,NaN,NaN
50840,ESP,2020-02-03,1.0,NaN,NaN
50841,ESP,2020-02-04,1.0,NaN,NaN
50842,ESP,2020-02-05,1.0,NaN,NaN
...,...,...,...,...,...
51185,ESP,2021-01-13,2176089.0,52878.0,1130.965
51186,ESP,2021-01-14,2211967.0,53079.0,1135.264
51187,ESP,2021-01-15,2252164.0,53314.0,1140.290
51188,ESP,2021-01-16,2252164.0,53314.0,1140.290
51189,ESP,2021-01-17,2252164.0,53314.0,1140.290

In [17]:
esp.isnull().sum()

iso_code                     0
date                         0
total_cases                  0
total_deaths                31
total_deaths_per_million    31
dtype: int64

In [18]:
ven = world[world["iso_code"]=="VEN"]

ven = ven.drop(ven.columns.difference(["iso_code","date",'total_cases',"total_deaths", 'total_deaths_per_million']), 1)
ven

,iso_code,date,total_cases,total_deaths,total_deaths_per_million
58768,VEN,2020-03-14,2.0,NaN,NaN
58769,VEN,2020-03-15,10.0,NaN,NaN
58770,VEN,2020-03-16,17.0,NaN,NaN
58771,VEN,2020-03-17,33.0,NaN,NaN
58772,VEN,2020-03-18,36.0,NaN,NaN
...,...,...,...,...,...
59073,VEN,2021-01-13,117811.0,1084.0,38.121
59074,VEN,2021-01-14,118415.0,1090.0,38.332
59075,VEN,2021-01-15,118856.0,1095.0,38.508
59076,VEN,2021-01-16,119306.0,1101.0,38.719
59077,VEN,2021-01-17,119803.0,1106.0,38.894

In [19]:
ven.isnull().sum()

iso_code                     0
date                         0
total_cases                  0
total_deaths                13
total_deaths_per_million    13
dtype: int64