In [2]:
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation

### **STEPS**

Dataframe about Coronavirus Group D

In [5]:
from utils.folders_tb import readcsv #esta ruta donde están los módulos hay que cambiarla!!

world = readcsv(ruta="../../data/owid-covid-data.csv")

,iso_code,date,total_cases,total_deaths,total_deaths_per_million
57046,GBR,2020-01-31,2.0,NaN,NaN
57047,GBR,2020-02-01,2.0,NaN,NaN
57048,GBR,2020-02-02,2.0,NaN,NaN
57049,GBR,2020-02-03,8.0,NaN,NaN
57050,GBR,2020-02-04,8.0,NaN,NaN
...,...,...,...,...,...
57394,GBR,2021-01-13,3220953.0,84910.0,1250.773
57395,GBR,2021-01-14,3269757.0,86163.0,1269.231
57396,GBR,2021-01-15,3325642.0,87448.0,1288.159
57397,GBR,2021-01-16,3367070.0,88747.0,1307.295
57398,GBR,2021-01-17,3405740.0,89429.0,1317.341

In [6]:
port = world[world["iso_code"]=="PRT"]

port = port.drop(port.columns.difference(["iso_code","date",'total_cases',"total_deaths", 'total_deaths_per_million']), 1)
port

,iso_code,date,total_cases,total_deaths,total_deaths_per_million
43593,PRT,2020-02-02,NaN,NaN,NaN
43594,PRT,2020-02-09,NaN,NaN,NaN
43595,PRT,2020-02-15,NaN,NaN,NaN
43596,PRT,2020-02-23,NaN,NaN,NaN
43597,PRT,2020-03-01,NaN,NaN,NaN
...,...,...,...,...,...
43915,PRT,2021-01-13,507108.0,8236.0,807.712
43916,PRT,2021-01-14,517806.0,8384.0,822.226
43917,PRT,2021-01-15,528469.0,8543.0,837.820
43918,PRT,2021-01-16,539416.0,8709.0,854.099
43919,PRT,2021-01-17,549801.0,8861.0,869.006

In [7]:
turk = world[world["iso_code"]=="TUR"]

turk = turk.drop(turk.columns.difference(["iso_code","date",'total_cases',"total_deaths", 'total_deaths_per_million']), 1)
turk

,iso_code,date,total_cases,total_deaths,total_deaths_per_million
55753,TUR,2020-03-11,1.0,NaN,NaN
55754,TUR,2020-03-12,1.0,NaN,NaN
55755,TUR,2020-03-13,5.0,NaN,NaN
55756,TUR,2020-03-14,5.0,NaN,NaN
55757,TUR,2020-03-15,6.0,NaN,NaN
...,...,...,...,...,...
56062,TUR,2021-01-14,2364801.0,23495.0,278.578
56063,TUR,2021-01-15,2373115.0,23664.0,280.582
56064,TUR,2021-01-16,2380665.0,23832.0,282.574
56065,TUR,2021-01-17,2387101.0,23997.0,284.530
56066,TUR,2021-01-18,NaN,NaN,NaN

In [8]:
esp = world[world["iso_code"]=="ESP"]

esp = esp.drop(esp.columns.difference(["iso_code","date",'total_cases',"total_deaths", 'total_deaths_per_million']), 1)
esp

,iso_code,date,total_cases,total_deaths,total_deaths_per_million
50838,ESP,2020-02-01,1.0,NaN,NaN
50839,ESP,2020-02-02,1.0,NaN,NaN
50840,ESP,2020-02-03,1.0,NaN,NaN
50841,ESP,2020-02-04,1.0,NaN,NaN
50842,ESP,2020-02-05,1.0,NaN,NaN
...,...,...,...,...,...
51185,ESP,2021-01-13,2176089.0,52878.0,1130.965
51186,ESP,2021-01-14,2211967.0,53079.0,1135.264
51187,ESP,2021-01-15,2252164.0,53314.0,1140.290
51188,ESP,2021-01-16,2252164.0,53314.0,1140.290
51189,ESP,2021-01-17,2252164.0,53314.0,1140.290

In [9]:
ven = world[world["iso_code"]=="VEN"]

ven = ven.drop(ven.columns.difference(["iso_code","date",'total_cases',"total_deaths", 'total_deaths_per_million']), 1)
ven

,iso_code,date,total_cases,total_deaths,total_deaths_per_million
58768,VEN,2020-03-14,2.0,NaN,NaN
58769,VEN,2020-03-15,10.0,NaN,NaN
58770,VEN,2020-03-16,17.0,NaN,NaN
58771,VEN,2020-03-17,33.0,NaN,NaN
58772,VEN,2020-03-18,36.0,NaN,NaN
...,...,...,...,...,...
59073,VEN,2021-01-13,117811.0,1084.0,38.121
59074,VEN,2021-01-14,118415.0,1090.0,38.332
59075,VEN,2021-01-15,118856.0,1095.0,38.508
59076,VEN,2021-01-16,119306.0,1101.0,38.719
59077,VEN,2021-01-17,119803.0,1106.0,38.894